<style>
    /* Resim */
    .image-container {
        text-align: center;
        margin-top: 50px;
    }

    img {
        max-width: 300px;
        height: auto;
    }
    

</style>
<div class="image-container">
    <img src="/img/ecem.jpg" />
</div>

<h2 style="text-align: center;">Teşekkürler kırmızı dudaklım</h2>


